.navbar.default-layout-navbar .navbar-brand-wrapper .brand-logo-mini img {
    width: calc(80px - 30px) !important;
    max-width: 100% ;
    height: 35px !important;
    padding-left: 10px !important;
    margin: auto !important;
}